{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Question
{% endblock %}
{% if user.is_authenticated %}
    {% block proimg %}
        {% if user.image %}
            <img class="rounded-circle" src="{{ user.image.url }}" width="30" height="30" alt="img">
        {% else %}
            <img class="rounded-circle" src="{% static 'online_quiz_system/img/blank_profile.png' %}" width="30"
                 height="30">
        {% endif %}
    {% endblock %}
{% endif %}
{% block carousel %}{% endblock %}
{% block content %}<br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-7" style="background-color:lavender;">
                <h1>{{ q.notice }}</h1><br>
                <h1>{{ q.question_name }}</h1><br>
                <h1>Add New Choice</h1>
                <a href="{% url 'accounts:add_choice' tid nid q.id %}">Add Choice</a>
                {% for c in q.choice_set.all %}
                    <h3>{{ c.choice_text }}</h3><br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block messaging %}{% endblock %}